
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  
  <section class="bio-card">

    <img src="/img/tif.jpg" alt="tif" style="height: 350px">

    <div class="about-text">
      <h2>Tif Taylor</h2>
      <p>Tif's passion is to bring structure to ambiguity and clarity to confusion. She is eager to apply <em>analytic thought-work</em> to help consturct clear, clean and confident user experiences. She sees technology as a powerful tool that can help communities be more effecient and more connected.</p>
    </div>

    <div>
      <ul class="about-links">
        <li><a href="https://github.com/tiftaylor"><img src="/img/github.png" alt="github icon"></a></li>
        <li><a href="https://www.linkedin.com/in/tiftaylor/"><img src="/img/linkedin.png" alt="linkedin icon"></a></li>
      </ul>
    </div>

  </section>


  <section class="bio-card">

    <img src="/img/chandler.jpg" alt="chandler" style="height: 350px">

    <div class="about-text">
      <h2>Chandler Puckett</h2>
      <p>Chandler is a software developer exploring the intersection of creativity / technology to develop applications that strive to push humanity forward, hopefully creating a more equal society & environmentally conscious future for all.</p>
    </div>

    <div>
      <ul class="about-links">
        <li><a href="https://github.com/chandlerpuckett"><img src="/img/github.png" alt="github icon"></a></li>
        <li><a href="https://www.linkedin.com/in/chandler-puckett/"><img src="/img/linkedin.png" alt="linkedin icon"></a></li>
      </ul>
    </div>

  </section>


  <section class="bio-card">

    <img src="/img/jack.jpg" alt="jack" style="height: 300px">

    <div class="about-text">
      <h2>Jack Nelson</h2>
      <p>Working in manufacturing, Jack picked up programming to improve his efficiency and help his team with repetitive tasks. Now Jack is looking for a passionate team where he can invest his skills into the exciting Tech industry.</p>
    </div>

    <div>
      <ul class="about-links">
        <li><a href="https://github.com/jnelsonjava"><img src="/img/github.png" alt="github icon"></a></li>
        <li><a href="https://www.linkedin.com/in/jnelsonjava/"><img src="/img/linkedin.png" alt="linkedin icon"></a></li>
      </ul>
    </div>

  </section>

  <%- include('../layout/button') %>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>