<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>

  <section>
    
    <h1>ERROR: <%= status %></h1>
    <p><%= message %></p>

  </section>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>
