
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>FAVORITES</h1>
  <!-- testing renderDB -->

  <%= dataArray %>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>