
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>GALLERY</h1>

  <%= console.log('FRONT END ARR: ', dataArray) %>

  <div class="resultContainer">
    <% for (data of dataArray) { %>
      <div class="resultBox">
        <img src="<%= data.img %>" alt="">
        <h3><%= data.title %></h3>
        <p><%= data.artist %></p>
      </div>
    <% } %>
  </div>
  <!-- ADD ALL THE THINGS -->
</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>