
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>GALLERY</h1>

  <!-- turn this into a partial? -->
  <form action="/gallery"><input type="submit" value="Get Inspired!"></form>

  <section class="gallery-card">
    <div class="resultContainer">

      <% for (data of dataArray) { %>
        <div class="resultBox">
          <img src="<%= data.img %>" alt="">
          <h3><%= data.title %></h3>
          <p><%= data.artist %></p>
        </div>
        
        <form action="/gallery" method="POST" name="save">
          <input type="hidden" name="title" value="<%= data.title %>">
          <input type="hidden" name="artist" value="<%= data.artist %>">
          <input type="hidden" name="img" value="<%= data.img %>">
          <input type="submit" name="save" value="Save To Favorites">
        </form>
      <% } %>

    </div>
  </section>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>