
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>GALLERY</h1>

  <%- include('../layout/button') %>

  <!-- Need to fix this loop to include the section for proper styling later, Tif made a task card -->
  <section class="gallery-card">
    <div class="resultContainer">

      <% for (data of dataArray) { %>
        
        <%- include('../layout/img') %>
        
        <form action="/gallery" method="POST" name="save">
          <input type="hidden" name="title" value="<%= data.title %>">
          <input type="hidden" name="artist" value="<%= data.artist %>">
          <input type="hidden" name="img" value="<%= data.img %>">
          <input type="submit" name="save" value="Save To Favorites">
        </form>
      <% } %>

    </div>
  </section>

  <%- include('../layout/button') %>

</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>