
<%- include('../layout/top') %>

<%- include('../layout/header') %>


<main>
  <h1>GALLERY</h1>

  <%= console.log('FRONT END ARR: ', artArray) %>

  <div class="resultContainer">
    <% for (art of artArray) { %>
      <div class="resultBox">
        <img src="<%= art.img %>" alt="">
        <h3><%= art.title %></h3>
        <p><%= art.artist %></p>
      </div>
    <% } %>
  </div>
  <!-- ADD ALL THE THINGS -->
</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>