
<%- include('../layout/top') %>

<%- include('../layout/header') %>

<main>
  <div id="logo-div">
   
    <img src="/img/Respite-Logo-transparent.png" alt="">

    <div id="tag">
      <p>An online art-crawl for design inspiration</p>
    </div>
  </div>

  <div>
    <form action="/gallery"><input id="big-btn"  type="submit" value="Get Inspired!"></form>
  </div>

  <div class="quote-card">
    <h4>" <%= data.text %> "</h4>
    <p>- <%= data.author %></p>
  </div>
</main>


<%- include('../layout/footer') %>

<%- include('../layout/bottom') %>
